@namespace EcoMeal.Site.Components.PackageCard
<div class="card w-100" style="height: 22rem">
    <div class="card-body text-center rounded-1 shadow border border-1 border-dark bg-body-secondary">
        <h5 class="card-title text-black fs-3 fw-bold">@Package.Name</h5>
        <p class="card-text text-danger fs-5 fw-bold">@Package.Description</p>
        <p class="card-text text-primary-emphasis fw-bold fs-5">@Package.Price</p>
        <p class="card-text text-warning-emphasis fs-5 fw-bold text-decoration-underline">@Package.PackageType</p>
    </div>
</div>