@page "/FavouriteBusinesses"
@using EcoMeal.Site.Components.BusinessList
@using Microsoft.AspNetCore.Authorization
<h1 class="display-4 fw-bold text-dark mb-3 text-center">Restaurante preferate</h1>
<BusinessList Businesses="@FavouriteBusinessesList"/>