@page "/FavouriteBusinesses"
@using EcoMeal.Site.Components.BusinessList
@using Microsoft.AspNetCore.Authorization
<p class="text-center fs-2 fw-bold text-dark lh-1">Restaurante favorite</p>
<BusinessList Businesses="@FavouriteBusinessesList" ShowAddBusinessButton="false" />