@page "/"
@rendermode InteractiveServer
@using EcoMeal.Site.Components.BusinessList
<PageTitle>Home</PageTitle>

<p class="text-center fs-2 fw-bold text-dark lh-1">Here are the businesses available!!</p>

<BusinessList/>
