@page "/orders"
@rendermode InteractiveServer
@namespace EcoMeal.Site.Components.Pages
@using EcoMeal.Site.Components.OrderList;

<PageTitle>Comenzile mele</PageTitle>

<p class="text-center fs-2 fw-bold text-dark lh-1">Comenzile mele</p>

<OrderList Orders="@OrderList" IsAdmin="false"/>

