@inherits LayoutComponentBase
@using EcoMeal.Site.Services
@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="page" style="background-color: #E2E6EA;">
    <main>
        <nav style="background: linear-gradient(to right, #1B5E20, #4CAF50);" class="px-3 top-row justify-content-start">
            <a href="." class="text-white fs-5 fw-bold" style="margin-left:5px;font-family: 'Trebuchet MS'">EcoMeal</a>
            <div class="ms-auto d-flex gap-0 align-items-center">
                @if (AuthService.IsAuthenticated)
                {
                    <button @onclick="HandleLogout" class="bg-transparent border-0 text-white fs-6 p-0 fw-bold text-decoration-none">Deconectează-te</button>
                }
                else
                {
                    <a href="/login" class="text-white fs-6 p-0 fw-bold text-decoration-none">
                        Autentificare
                    </a>

                    <a href="register" class="text-white fs-6 p-0 fw-bold text-decoration-none">
                        Înregistrare
                    </a>
                }
            </div>
        </nav>
        <article class="content px-4 py-3" >
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AuthService.LoadTokenAsync();
            StateHasChanged();
        }
    }

    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/", forceLoad: true);
    }
}
