@namespace EcoMeal.Site.Components.BusinessList
@using EcoMeal.Site.Components.BusinessCard

@if(Businesses is null)
{
	<p>Loading...</p>
}
else
{
	<div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-3">
		@foreach (var Business in Businesses)
		{
			<div>
				<BusinessCard Business="@Business" OnDelete="DeleteBusiness"/>
			</div>
		}
	</div>
}

